@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 1490px;
}

.primary__btn {
  background-color: #0F1120;
  padding: 12px 30px;
  color: #C0C1C5;
  border: none;
  border-radius: 20px;
  text-transform: uppercase;
}

.primary__text {
  color: #717487;
  font-size: 18px;
}

.body {
  font-family: 'Poppins', sans-serif;
}

.navbar {
  margin-top: 50px;
  background-color: #fff;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Poppins', sans-serif;
}

.navbar .container .list {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .container .list h2 {
  color: #0F1120;
}

.navbar .container .list li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #0F1120;
  font-size: 12px;
  font-weight: 600;
}

.navbar .container .list li a:hover {
  color: #4086FE;
}

.navbar .container .link {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navbar .container .link li {
  margin-left: 40px;
}

.navbar .container .link li a {
  text-transform: uppercase;
  text-decoration: none;
  color: #0F1120;
  font-weight: 600;
  font-size: 12px;
}

.navbar .container .link li a:hover {
  color: #4086FE;
}

.hovDoYouDesign {
  margin-top: 100px;
  position: relative;
}

.hovDoYouDesign .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hovDoYouDesign .container .tarmoq {
  width: 10%;
}

.hovDoYouDesign .container .tarmoq ul li {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #E8E8E9;
  margin: 15px 0;
}

.hovDoYouDesign .container .tarmoq ul li a {
  color: #1C1C1C;
}

.hovDoYouDesign .container .tarmoq ul li:hover {
  background-color: #0F1120;
}

.hovDoYouDesign .container .tarmoq ul li:hover a:hover {
  color: #fff;
}

.hovDoYouDesign .container .hovDoYouDesign__text {
  width: 50%;
}

.hovDoYouDesign .container .hovDoYouDesign__text h1 {
  width: 90%;
  color: #0F1120;
  font-size: 54px;
  font-weight: 800;
  font-family: 'Poppins', sans-serif;
}

.hovDoYouDesign .container .hovDoYouDesign__text p {
  width: 90%;
  line-height: 1.7;
  margin: 50px 0;
}

.hovDoYouDesign .container .hovDoYouDesign__text .scroll {
  width: 112px;
  height: 112px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #E8E8E9;
  margin-top: 100px;
}

.hovDoYouDesign .container .hovDoYouDesign__text .scroll a {
  text-decoration: none;
  color: #77797F;
  font-weight: 600;
  font-size: 20px;
}

.hovDoYouDesign .container .hovDoYouDesign__photo {
  position: relative;
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 280px;
}

.hovDoYouDesign .container .hovDoYouDesign__photo img {
  width: 100%;
  height: 478px;
  margin: 0 auto;
  background-color: #1777FF;
  -webkit-transform: translateX(100px);
          transform: translateX(100px);
}

.hovDoYouDesign .container .hovDoYouDesign__photo .box {
  position: absolute;
  width: 120px;
  height: 120px;
  background-color: #0F1120;
  left: 19.3%;
  top: 1px;
}

.hovDoYouDesign .container .hovDoYouDesign__photo .box .sercul {
  position: absolute;
  border: 1px solid #fff;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  top: -50%;
  left: -50%;
  z-index: 3;
}

.hovDoYouDesign .container .hovDoYouDesign__photo .pler {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 70%;
  bottom: 0;
  right: 0;
  background-color: #327e8b;
  -webkit-clip-path: polygon(100% 43%, 0 0, 0 99%);
          clip-path: polygon(100% 43%, 0 0, 0 99%);
  z-index: 44;
}

.hovDoYouDesign .container .hovDoYouDesign__photo .pler:hover {
  background-color: #c25d1a;
}

.hovDoYouDesign .container .sercul {
  position: absolute;
  z-index: -22;
  left: 42.5%;
  top: -25%;
}

.hovDoYouDesign .container .sercul .line .sercul1 {
  border: 1px solid #C0C1C5;
  width: 940px;
  height: 940px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}

.hovDoYouDesign .container .sercul .line .sercul1 .sercul2 {
  border: 1px solid #C0C1C5;
  width: 472px;
  height: 472px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}

.hovDoYouDesign .container .sercul .line .sercul1 .sercul2 .sercul3 {
  position: absolute;
  border: 1px solid #C0C1C5;
  height: 110px;
  width: 110px;
  border-radius: 50%;
  z-index: 33;
}

.delighting .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.delighting .container .photos {
  width: 80%;
}

.delighting .container .photos .img {
  background-image: url("../img/teenage-boy-drinking-caffeine-energy-drink-gaming--U75GERZ.jpg");
  width: 100%;
  height: 945px;
  background-size: cover;
  -webkit-transform: translateX(-10.5%);
          transform: translateX(-10.5%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 100px;
}

.delighting .container .photos .img .text {
  width: 25%;
  margin-left: 200px;
}

.delighting .container .photos .img .text h2 {
  width: 100%;
  color: #fff;
  font-size: 35px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}

.delighting .container .photos .img .text p {
  width: 100%;
  color: #ACCEFE;
  margin: 30px 0;
  font-family: 'Poppins', sans-serif;
}

.delighting .container .photos .img .photo1 {
  position: relative;
  width: 60%;
}

.delighting .container .photos .img .photo1 img {
  width: 100%;
  -webkit-transform: translateX(40%);
          transform: translateX(40%);
}

.delighting .container .photos .img .photo1 .plus {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Poppins', sans-serif;
  top: -8px;
  right: -41.5%;
  z-index: 77;
}

.delighting .container .photos .img .photo1 .plus span {
  font-size: 18px;
  font-weight: 500;
}

.delighting .container .photos .img .photo1 .text {
  position: absolute;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  bottom: -1%;
  right: -24%;
}

.delighting .container .photos .img .photo1 .text p {
  position: absolute;
  width: 150%;
  color: #000;
  font-size: 15px;
  font-weight: 600;
}

.delighting .container .sercul {
  position: relative;
  margin: 0;
  width: 20%;
  left: -8%;
}

.delighting .container .sercul .sercul1 {
  position: absolute;
  border: 1px solid #e6d5cb;
  width: 480px;
  height: 480px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  z-index: -33;
}

.delighting .container .sercul .sercul1 .sercul2 {
  position: absolute;
  border: 1px solid #e6d5cb;
  height: 230px;
  width: 230px;
  border-radius: 50%;
  z-index: -33;
}

.expertises {
  background-color: #F0F2F1;
  padding-bottom: 100px;
}

.expertises .container .expertises__title {
  text-align: center;
}

.expertises .container .expertises__title h1 {
  font-size: 30px;
  font-weight: 600;
  color: #000;
  padding: 100px 0 20px 0;
}

.expertises .container .expertises__title p {
  margin: 0 auto;
  width: 40%;
  margin-bottom: 40px;
}

.expertises .container .boxs {
  width: 80%;
  text-align: center;
  margin: 0 auto;
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px solid #000;
          box-shadow: 0 0 10px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0 0 10px rgba(102, 99, 99, 0.7);
          box-shadow: 0 0 10px rgba(102, 99, 99, 0.7);
}

.expertises .container .boxs .box {
  width: 32%;
  padding: 40px 30px;
}

.expertises .container .boxs .box img {
  margin: 30px 0;
}

.expertises .container .boxs .box h2 {
  font-size: 20px;
  font-weight: 600;
}

.expertises .container .boxs .box p {
  font-size: 16px;
  line-height: 1.2;
  margin: 10px 10px 50px 10px;
  text-align: center;
}

.expertises .container .boxs .box button {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}

.expertises .container .boxs .box button:hover {
  background-color: #000;
  color: #E8E8E9;
}

.expertises .container .boxs .box:hover {
  border-right: 1px solid #666363;
}

.content {
  margin: 0 auto;
  background-image: url("../img/young-male-florist-working-in-flower-shop-Z5BEPDY.jpg");
  width: 1700px;
  height: 950px;
  background-size: cover;
  text-align: center;
}

.content .container .photo {
  padding-top: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0.7;
}

.content .container .photo .sercul {
  border: 1px solid #e6d5cb;
  width: 724px;
  height: 724px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  z-index: 33;
}

.content .container .photo .sercul .sercul1 {
  border: 1px solid #e6d5cb;
  width: 624px;
  height: 624px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  z-index: 33;
}

.content .container .photo .sercul .sercul1 .sercul2 {
  border: 1px solid #e6d5cb;
  height: 500px;
  width: 500px;
  border-radius: 50%;
  z-index: 33;
  text-align: center;
}

.content .container .text {
  position: absolute;
  text-align: center;
  width: 800px;
  z-index: 55;
}

.content .container .text h1 {
  text-align: center;
  color: #fff;
  font-size: 54px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
}

.content .container .text p {
  margin: 0 auto;
  text-align: center;
  margin: 40px 0;
  color: #BDBFC2;
  font-size: 15px;
  margin: 50px;
}

.content .container .text button {
  margin: 0 auto;
  text-align: center;
  background-color: #1267FE;
}

.footer .container .footer__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
}

.footer .container .footer__head .list {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .container .footer__head .list li a {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
}

.footer .container .footer__head .list li a:hover {
  color: #1267FE;
}

.footer .container .footer__head .tarmoq {
  width: 12%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .container .footer__head .tarmoq li a {
  color: #000;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
}

.footer .container .footer__head .tarmoq li a:hover {
  color: #1267FE;
}

.footer .footer__bottom {
  background-color: #0F1120;
  margin: 30px 0;
}

.footer .footer__bottom .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer__bottom .container .logo {
  margin: 30px 0;
}

.footer .footer__bottom .container .logo h2 {
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
}

.footer .footer__bottom .container p {
  font-family: 'Poppins', sans-serif;
  color: #6F6F77;
  font-size: 12px;
}
/*# sourceMappingURL=main.css.map */