
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
.container{
    width: 1300px;
    margin: 0 auto;
   
}
.primary__btn{
     background-color: #0F1120;
     padding: 12px 30px;
     color:#C0C1C5;
     border: none;
     border-radius: 20px;
     text-transform: uppercase;
}
.primary__text{
color: #717487;
font-size: 18px;


}
.body{
 
    font-family: 'Poppins', sans-serif;
}
.navbar{
 
      margin-top: 50px;
      background-color: #fff;
      

             .navbar__header{
                        //    width: 100%;
                           display: flex;
                           justify-content: space-between;
                           align-items: center;
                           font-family: 'Poppins', sans-serif;
           
                    .list{
                           width: 60%;
                           display: flex;
                           justify-content:space-between;
                           align-items: center;
                        h2{
                            color: #0F1120;
                        }
                       li{
                           a{
                               text-decoration: none;
                               text-transform: uppercase;
                               color: #0F1120;
                               font-size: 12px;
                               font-weight:600;
    
                           }
                           a:hover{
                            color: #4086FE;
                            
                        }
                       }
                }
                .link{
                    width: 15%;
                    display: flex;
                    justify-content:space-evenly;
                    align-items: center;
                   
                      li{
                         
                          a{
                              text-transform: uppercase;
                              text-decoration: none;
                              color: #0F1120;
                              font-weight:600;
                              font-size: 12px;
                          }
                          a:hover{
                              color: #4086FE;
                          }
                      }
                }
          }
     }
  


.hovDoYouDesign{
    margin-top: 100px;
    position: relative;
     
    .container{
           display: flex;
           justify-content: space-between;
      

         .tarmoq{
             width: 10%;
            ul{
                li{
                    
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border:1px solid #E8E8E9;
                       margin: 15px 0;
                    a{
                       color: #1C1C1C;
                    }
                }
                li:hover{
                    background-color: #0F1120;
                      a:hover{
                          color: #fff;
                      }
                }
            }

        }
        .hovDoYouDesign__text{
            width: 50%;
            h1{
                width: 90%;
                color:#0F1120;
                font-size: 54px;
                font-weight: 800;
                font-family: 'Poppins', sans-serif;
            }
            p{
                width: 90%;
                line-height: 1.7;
                margin: 50px 0;
            }
            .scroll{
                    width: 112px;
                    height: 112px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border:1px solid #E8E8E9;
                      margin-top: 100px;
                      
                       a{
                           text-decoration: none;
                           color: #77797F;
                           font-weight: 600;
                           font-size: 20px;
                       }
            }
        }
        .hovDoYouDesign__photo{
            position: relative;
                width: 35%;
                display: flex;
                align-items: center;
                margin-top: 280px;
                
                
                img{
                    width: 470px;
                    height: 478px;
                    margin: 0 auto;
                    background-color: #1777FF;
                     
                    
                    transform: translateX(-3.5%);
                    
               }
               .box{
                    position: absolute;
                     width: 120px;
                     height: 120px;
                     background-color: #0F1120;
                     display: block;
                     left: -15px;

                     top: 0px;
                     .sercul{
                         position: absolute;
                         border: 1px solid #fff;
                         height: 120px;
                         width: 120px;
                         border-radius: 50%;
                         top: -50%;
                         left: -50%;
                         z-index: 3;
                      

                     }
               }
               .pler{
                   position: absolute;
                   width: 50px;
                   height: 50px;
                   top: 50%;
                   left: 45%;
                   bottom: 0;
                   right: 0;
                  
                    background-color: rgb(50, 126, 139);
                    clip-path: polygon(100% 43%, 0 0, 0 99%);
                    z-index: 44;
                   
                      

               }
               .pler:hover{
                background-color: rgb(194, 93, 26);
               }
        
        .sercul{
            width: 920px;
            position: absolute;
            z-index: -22;
            right: 2px;
            top: -457px;
            
           
            .line{
                
                  .sercul1{
                            border: 1px solid #C0C1C5;
                            width: 920px;
                            height: 920px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 50%;
                            
                            
                               .sercul2{
                                border: 1px solid #C0C1C5;
                                width: 472px;
                                 height: 472px;
                                 display: flex;
                                 justify-content: center;
                                 align-items: center;
                                 border-radius: 50%;
                                 
                                  .sercul3{
                                    position: absolute;
                                    border: 1px solid #C0C1C5;
                                    height: 110px;
                                    width: 110px;
                                    border-radius: 50%;
                                    z-index: 33;
                                     
                                    
                                  }
            
                               }
            
                        }
            }

           
        }
    }
    }
}
.delighting{
  
    .container{
          display: flex;
          justify-content: center;
        //   align-items: center;
        .photos{
            width: 80%;
            .img{
                     background-image: url('../img/teenage-boy-drinking-caffeine-energy-drink-gaming--U75GERZ.jpg');
                     width: 950px;
                     height: 945px;
                     background-size: cover;
                     transform: translateX(-30.5%);
                     display: flex;
                     justify-content: center;
                     align-items: center;
                    //  padding-left: 100px;

                     
                       .text{
                          width: 45%;
                           margin-left: 200px;
                            h2{
                                width: 205%;
                                color: #fff;
                                font-size: 35px;
                                font-weight:600;
                                font-family: 'Poppins', sans-serif;

                            }
                            p{
                                width: 200%;
                                color:#ACCEFE ;
                                margin: 30px 0;
                                font-family: 'Poppins', sans-serif;
                            }
                       }
                       .photo1{
                           position: relative;
                           width: 60%;
                             img{
                                 width: 601px;
                                 height: 481px;
                                 transform: translateX(40%);
                             }
                             .plus{
                                 position: absolute;
                                 width: 25px;
                                 height: 25px;
                                 border-radius: 50%;
                                 background-color: #fff;
                                 box-shadow: 0 0 5px rgba(0,0,0,0.7);
                                 display: flex;
                                 justify-content: center;
                                 align-items: center;
                                 font-family: 'Poppins', sans-serif;
                                 top: -8px;
                                 right: -41.5%;
                                 z-index: 77;
                                 span{
                                        font-size: 18px;
                                        font-weight:500;
                                    }
                             }
                             .text{
                                   position: absolute;
                                  transform: rotate(-90deg);
                                  bottom: -1%;
                                  right: -24%;

                                 p{
                                     position: absolute;   
                                     width: 150%;
                                     color: #000;
                                     font-size: 15px;
                                     font-weight: 600;
                                     
                                 

                                 }
                             }
                       }
                   
                
            }
        }
        .sercul{
            position: relative;
               margin: 0;
            //   width: 100%;
              left: -8%;
             
            .sercul1{
                position: absolute;
              
                border: 1px solid #e6d5cb;
                 width: 480px;
                 height: 480px;
                 margin: 0;
                 display: flex;
                 justify-content: center;
                 align-items: center;
                 border-radius: 50%;
                 z-index: -33;
                 

                .sercul2{
                   position: absolute;
                   
                    border: 1px solid #e6d5cb;
                    height: 230px;
                    width: 230px;
                    border-radius: 50%;
                    z-index: -33;

                }
            }
        }
    }
}
.expertises{
    background-color: #F0F2F1;
    padding-bottom: 100px;
      .container{
          .expertises__title{
              text-align: center;
                  h1{
                      font-size: 30px;
                      font-weight: 600;
                      color: #000;
                      padding: 100px 0 20px 0;

                  }
                  p{
                      margin: 0 auto;
                      width: 40%;
                      margin-bottom: 40px;
                  }
          }
          .boxs{
              width: 80%;
              text-align: center;
              margin: 0 auto;
              background-color: #fff;
              box-shadow: 0 0 10px solid #000;
              display: flex;
              box-shadow: 0 0 10px  rgba(102, 99, 99, 0.7);
                 .box{
                    width: 32%;
                    padding: 40px 30px;
                      img{
                          margin: 30px 0;
                      }
                      h2{
                        font-size: 20px;
                        font-weight: 600;

                      }
                      p{
                          
                        font-size: 16px;
                        line-height: 1.2;
                        margin: 10px 10px 50px 10px;
                        text-align: center;
                      }
                      button{
                        background-color: #fff;
                        color: #000;
                        border: 1px solid #000;
                        font-size: 12px;
                        margin-top: 50px;
                      }
                      button:hover{
                          background-color: #000;
                          color: #E8E8E9;
                      }
                 }
                 .box:hover{
                     border-right: 1px solid rgb(102, 99, 99);
                 }
           

          }

      }
       
}
.content{
    margin: 0 auto;
    background-image: url('../img/young-male-florist-working-in-flower-shop-Z5BEPDY.jpg');
    width: 1700px;
    height: 950px;
    background-size: cover;
    text-align: center;
   
    .container{
           
        .photo{
             padding-top: 130px;
             display: flex;
             justify-content: center;
             align-items: center;
             opacity: 0.7;
          
                .sercul{
                    border: 1px solid #e6d5cb;
                    width: 724px;
                    height: 724px;
                    margin: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    z-index: 33;
                        
                      .sercul1{
                        //  position: absolute;
                         border: 1px solid #e6d5cb;
                         width: 624px;
                         height: 624px;
                         margin: 0;
                         display: flex;
                         justify-content: center;
                         align-items: center;
                         border-radius: 50%;
                         z-index: 33;
                          .sercul2{
                            // position: absolute;
                            border: 1px solid #e6d5cb;
                            height:500px;
                            width: 500px;
                            border-radius: 50%;
                            z-index: 33;
                              text-align: center;
                             
                          }
                      }
                   }
        }
        .text{
            position:absolute;
              text-align: center;
              width: 800px;
              z-index: 55;
            h1{
                
                text-align: center;
                // width: 60%;
                color:#fff;
                font-size: 54px;
                font-weight: 700;
                font-family: 'Poppins', sans-serif;
              }
              p{ 
                  margin: 0 auto;
                  text-align: center;
                  margin: 40px 0;
                  color: #BDBFC2;
                  font-size: 15px;
                  margin: 50px;
                    
              }
              button{
                  margin: 0 auto;
                  text-align: center;
                  background-color:#1267FE;
              }
        }
    }
}
.footer{
    .container{
        .footer__head{
            display: flex;
            justify-content: space-between;
             align-items: center;
             padding: 30px 0;
              .list{
                  width: 40%;
                   display: flex;
                    justify-content: space-between;
                    align-items: center;
                      li{
                          a{
                              text-decoration: none;
                              color: #000;
                              text-transform: uppercase;
                              font-weight: 500;
                              font-family: 'Poppins', sans-serif;
                              font-size: 15px;
                          }
                          a:hover{
                            color: #1267FE;
                        }
                      }
                    
              }
              .tarmoq{
                 width: 12%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                  li{
                      a{
                          color: #000;
                          font-size: 18px;
                          font-family: 'Poppins', sans-serif;

                      }
                      
                      a:hover{
                          color: #1267FE;
                      }
                  }
              }
        }
        
    }
    .footer__bottom{
        background-color: #0F1120;
        margin: 30px 0;
       .container{
              display: flex;
              justify-content: space-between;
              align-items: center;
              
         .logo{
            margin: 30px 0;
             h2{
                 color: #fff;
                 font-weight: 500;
                 text-transform: uppercase;
                 font-family: 'Poppins', sans-serif;

                 
             }
             
         }
         p{
            font-family: 'Poppins', sans-serif;
            color: #6F6F77;
            font-size: 12px;
         

         }
       }
 }
}
@media(max-width:1900px){
    .container{
        width: 1800px;
    }

    
    }
   
    
@media(max-width:1800px){
    .container{
        width: 1700px;
    }
    .hovDoYouDesign .container .hovDoYouDesign__photo img{
        transform: translateX(14.5%);
       }
       .hovDoYouDesign .container .hovDoYouDesign__photo .box {
    
        left: 130px;
       
    }

    .delighting .container .photos .img {
        width: 950px;
        height: 945px;
        transform: translateX(12%);
       
      
    }
    .delighting .container .photos .img .photo1 .text p {
        position: absolute;
        width: 90%;
        color: #000;
        font-size: 15px;
        font-weight: 600;
    }
    }
@media(max-width:1700px){
    .container{
        width: 1600px;
    }
    .hovDoYouDesign .container .hovDoYouDesign__photo img{
        transform: translateX(10%);
       }
       .hovDoYouDesign .container .hovDoYouDesign__photo .box {
    
        left: 92px;
       
    }
    .delighting .container .photos {
        width: 91%;
    }
    .delighting .container .photos .img .photo1 .plus {
        
        top: -8px;
        right: -49.5%;
       
    }
    .delighting .container .sercul {
        position: relative;
        margin: 0;
        left: -22%;
    }
    .content {
        width: 1700px;
    }
    
    }
@media(max-width:1600px){
     .container{
         width: 1500px;
     }
     .hovDoYouDesign .container .hovDoYouDesign__photo img{
        transform: translateX(6%);
       }
       .hovDoYouDesign .container .hovDoYouDesign__photo .box {
    
        left: 56px;
       
    }
    .delighting .container .photos .img {
        
        transform: translateX(2%);
      
    }
    .delighting .container .photos {
        width: 91%;
    }
    .delighting .container .photos .img .photo1 .plus {
        
        top: -8px;
        right: -49.5%;
       
    }
    .delighting .container .sercul {
        position: relative;
        margin: 0;
        left: -22%;
    }
    .content {
        width: 1600px;
    }
    
     }
     
 
 
@media(max-width:1500px){
    .container{
      width: 1400px;
    }
    .hovDoYouDesign .container .hovDoYouDesign__photo img{
        transform: translateX(3%);
       }
       .hovDoYouDesign .container .hovDoYouDesign__photo .box {
    
        left: 23px;
       
    }
    .delighting .container .photos .img {
        
        transform: translateX(-8%);
      
    }
    .delighting .container .sercul {
        position: relative;
        margin: 0;
        left: -29%;
    }
    .delighting .container .photos .img .photo1 img {
      
        transform: translateX(34%);
    }
    .delighting .container .photos .img .photo1 .plus {
        top: -8px;
        right: -43.5%;
    }
   
    .content {
        width: 1500px;
    }
 
 }
 @media(max-width:1400px){
     .container{
       width: 1300px;
      }
      .content{
        width:1380px;   
    }
    .hovDoYouDesign .container .hovDoYouDesign__photo img{
        transform: translateX(-0.5%);
       }
       .hovDoYouDesign .container .hovDoYouDesign__photo .box {
    
        left: -7px;
       
    }.delighting .container .photos .img {
        
        transform: translateX(-17%);
  }
  .content {
    width: 1400px;
}
}
  @media(max-width:1350px){
     .container{
       width: 1250px;
      }
      .content{
        width:1350px;   
    }
   .hovDoYouDesign .container .hovDoYouDesign__photo img{
    transform: translateX(-5.5%);
   }
   .hovDoYouDesign .container .hovDoYouDesign__photo .box {

    left: -28px;
   
}
.delighting .container .photos .img {
   
    width: 886px;
    height: 887px;
    
  }
  .delighting .container .photos .img .photo1 img {
    width: 586px;
    height: 427px;
}
.delighting .container .photos .img .photo1 .plus {
    top: -8px;
    right: -49.5%;
}
  }
  .content {
    width: 1350px;
}
  @media(max-width:1250px){
    .container{
      width: 1150px;
     }
     .hovDoYouDesign .container .hovDoYouDesign__photo img{
        transform: translateX(-12.5%);
       }
       .hovDoYouDesign .container .hovDoYouDesign__photo .box {
    
        left: -60px;
       
    }
    .delighting .container .photos .img {
     
        transform: translateX(-28%);
    }
    .delighting .container .sercul {
       
        left: -34%;
    }
    .content {
        width: 1250px;
    }
    .footer .container .footer__head .list {
        width: 70%;
        
    }
   
 }
 @media(max-width:1150px){
    .container{
      width: 1050px;
     }
     .hovDoYouDesign .container .hovDoYouDesign__photo img{
        transform: translateX(-21.5%);
       }
       .hovDoYouDesign .container .hovDoYouDesign__photo .box {
    
        left: -101px;
       
    }
    .hovDoYouDesign .container .hovDoYouDesign__text p {
        width: 86%;
    
    }
    .delighting .container .photos .img {
   
        width: 753px;
        height: 754px;
        
      }
      .delighting .container .photos .img .photo1 img {
        width: 503px;
        height: 322px;
    }
    .delighting .container .sercul {
        left: -38%;
        top: -24px;
    }
    .delighting .container .photos .img .photo1 .text p {
       
        font-size: 13px;
        
    }
    .content {
        width: 1150px;
    }
    .footer .container .footer__head .list {
        width: 60%;
        
    }
   
 }
 @media(max-width:1050px){
    .container{
      width:950px;
     }
     .delighting .container .photos .img .text h2 {
        width: 105%;
     }
     .delighting .container .photos .img .text p {
        width: 105%;
     }
     .hovDoYouDesign .container .hovDoYouDesign__photo .box {
       display: none;
    
   
 }
 .expertises .container .boxs .box img {
    margin: 30px 0;
    width: 100%;
}
 .hovDoYouDesign .container .hovDoYouDesign__photo {
    margin: 0;
}
.hovDoYouDesign .container .hovDoYouDesign__photo .sercul {
    width: 900px;
    position: absolute;
    z-index: -22;
    right: 2px;
    top: -173px;
}
.hovDoYouDesign .container .hovDoYouDesign__photo .sercul .line .sercul1 {
   
    width: 820px;
    height: 820px;
    
}
.hovDoYouDesign .container .hovDoYouDesign__text p {
    width: 78%;
}
.hovDoYouDesign .container .hovDoYouDesign__photo img {
    margin-top: -240px;
}
.hovDoYouDesign .container .hovDoYouDesign__photo .pler {
    top: 29%;
    left: 45%;
   
}
.delighting .container  {
   display: flex;
   align-items: center;
   justify-content: space-around;
}

.delighting .container .sercul {
    display: none;
}
.delighting .container .photos .img .photo1{
 width: 45% !important;
}
.delighting .container .photos .img .photo1 .plus{
    display: none;
   
}
.delighting .container .photos .img .photo1 .plus img{
    width: 100% !important;
}
.delighting .container .photos .img .photo1 .text{
    display: none;
 
}
.delighting .container .photos .img .photo1 img {
   transform: none;
   width: 100%;
}
.delighting .container .photos {
    width: 100%;
}
.delighting .container .photos .img {
      width: 100%;
    transform: none;
    display: flex;
    justify-content: space-between;
}
.delighting .container .photos .img .text {
    width: 45%;
    margin-left:0;
}


.delighting .container .photos .img .photo1 {
    position: relative;
    width: 100%;
}
.content {
    width: 1050px;
}
.footer .container .footer__head .list {
    width: 60%;
    
}
}
 @media(max-width:950px){
    .container{
      width: 850px;
     }
     .hovDoYouDesign .container .hovDoYouDesign__photo .sercul {
      display: none;
    }
    .hovDoYouDesign .container .hovDoYouDesign__photo {
        display: none;
    }
    .hovDoYouDesign .container .hovDoYouDesign__text {
        width: 83%;
        
    }
    .content {
        width: 950px;
    }

 }
 @media(max-width:850px){
   
   .navbar{
    .container{
        width:750px;
       
       .navbar__header{
           .list{
               width: 100%;
           }
           .link{
               display: none;
                  
           }

           
       }
    }
   }
   .content {
    width: 850px;
}


 }
 @media(max-width:750px){
    .container{
      width: 650px;
     }
     .expertises .container .boxs {
         display: block;
         
     }
     .expertises .container .boxs .box{
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }
     .expertises .container .boxs .box img {
        width: 90%;
    }
     .delighting .container .photos .img {
        display: block;
        justify-content: column;
    }
     .delighting .container .photos .img .text {
         margin: 0 auto;
        width: 90%;
        display: block;
        justify-content:column;
        text-align: center;
        padding-top: 30px;
       
    } 
    .delighting .container .photos .img .photo1 .plus  img {
       display: block;
       justify-content: column;
        width: 90%;
    }
    .delighting .container .photos .img .photo1 {
       text-align: center;
        width: 100% !important;
        margin-top: 10px;
    }
    .content {
        width: 750px;
    }
    .footer .container .footer__head .tarmoq {
        width: 12%;
     
        display: block;
        justify-content: column;
        margin-right: 5px;
        
    }
   
 }
 @media(max-width:650px){
    .container{
      width: 550px;
     }
  .delighting .container .photos .img .text {
    width: 90%;
    text-align: center;
   
} 
 }
 @media(max-width:650px){
    .container{
      width: 550px;
     }
     .list{
         display: none;
     }
     .content {
        width: 650px;
    }

 }
 
