@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 1300px;
  margin: 0 auto;
}

.primary__btn {
  background-color: #0F1120;
  padding: 12px 30px;
  color: #C0C1C5;
  border: none;
  border-radius: 20px;
  text-transform: uppercase;
}

.primary__text {
  color: #717487;
  font-size: 18px;
}

.body {
  font-family: 'Poppins', sans-serif;
}

.navbar {
  margin-top: 50px;
  background-color: #fff;
}

.navbar .navbar__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Poppins', sans-serif;
}

.navbar .navbar__header .list {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .navbar__header .list h2 {
  color: #0F1120;
}

.navbar .navbar__header .list li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #0F1120;
  font-size: 12px;
  font-weight: 600;
}

.navbar .navbar__header .list li a:hover {
  color: #4086FE;
}

.navbar .navbar__header .link {
  width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .navbar__header .link li a {
  text-transform: uppercase;
  text-decoration: none;
  color: #0F1120;
  font-weight: 600;
  font-size: 12px;
}

.navbar .navbar__header .link li a:hover {
  color: #4086FE;
}

.hovDoYouDesign {
  margin-top: 100px;
  position: relative;
}

.hovDoYouDesign .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hovDoYouDesign .container .tarmoq {
  width: 10%;
}

.hovDoYouDesign .container .tarmoq ul li {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #E8E8E9;
  margin: 15px 0;
}

.hovDoYouDesign .container .tarmoq ul li a {
  color: #1C1C1C;
}

.hovDoYouDesign .container .tarmoq ul li:hover {
  background-color: #0F1120;
}

.hovDoYouDesign .container .tarmoq ul li:hover a:hover {
  color: #fff;
}

.hovDoYouDesign .container .hovDoYouDesign__text {
  width: 50%;
}

.hovDoYouDesign .container .hovDoYouDesign__text h1 {
  width: 90%;
  color: #0F1120;
  font-size: 54px;
  font-weight: 800;
  font-family: 'Poppins', sans-serif;
}

.hovDoYouDesign .container .hovDoYouDesign__text p {
  width: 90%;
  line-height: 1.7;
  margin: 50px 0;
}

.hovDoYouDesign .container .hovDoYouDesign__text .scroll {
  width: 112px;
  height: 112px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #E8E8E9;
  margin-top: 100px;
}

.hovDoYouDesign .container .hovDoYouDesign__text .scroll a {
  text-decoration: none;
  color: #77797F;
  font-weight: 600;
  font-size: 20px;
}

.hovDoYouDesign .container .hovDoYouDesign__photo {
  position: relative;
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 280px;
}

.hovDoYouDesign .container .hovDoYouDesign__photo img {
  width: 470px;
  height: 478px;
  margin: 0 auto;
  background-color: #1777FF;
  -webkit-transform: translateX(-3.5%);
          transform: translateX(-3.5%);
}

.hovDoYouDesign .container .hovDoYouDesign__photo .box {
  position: absolute;
  width: 120px;
  height: 120px;
  background-color: #0F1120;
  display: block;
  left: -15px;
  top: 0px;
}

.hovDoYouDesign .container .hovDoYouDesign__photo .box .sercul {
  position: absolute;
  border: 1px solid #fff;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  top: -50%;
  left: -50%;
  z-index: 3;
}

.hovDoYouDesign .container .hovDoYouDesign__photo .pler {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 45%;
  bottom: 0;
  right: 0;
  background-color: #327e8b;
  -webkit-clip-path: polygon(100% 43%, 0 0, 0 99%);
          clip-path: polygon(100% 43%, 0 0, 0 99%);
  z-index: 44;
}

.hovDoYouDesign .container .hovDoYouDesign__photo .pler:hover {
  background-color: #c25d1a;
}

.hovDoYouDesign .container .hovDoYouDesign__photo .sercul {
  width: 920px;
  position: absolute;
  z-index: -22;
  right: 2px;
  top: -457px;
}

.hovDoYouDesign .container .hovDoYouDesign__photo .sercul .line .sercul1 {
  border: 1px solid #C0C1C5;
  width: 920px;
  height: 920px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}

.hovDoYouDesign .container .hovDoYouDesign__photo .sercul .line .sercul1 .sercul2 {
  border: 1px solid #C0C1C5;
  width: 472px;
  height: 472px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}

.hovDoYouDesign .container .hovDoYouDesign__photo .sercul .line .sercul1 .sercul2 .sercul3 {
  position: absolute;
  border: 1px solid #C0C1C5;
  height: 110px;
  width: 110px;
  border-radius: 50%;
  z-index: 33;
}

.delighting .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.delighting .container .photos {
  width: 80%;
}

.delighting .container .photos .img {
  background-image: url("../img/teenage-boy-drinking-caffeine-energy-drink-gaming--U75GERZ.jpg");
  width: 950px;
  height: 945px;
  background-size: cover;
  -webkit-transform: translateX(-30.5%);
          transform: translateX(-30.5%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.delighting .container .photos .img .text {
  width: 45%;
  margin-left: 200px;
}

.delighting .container .photos .img .text h2 {
  width: 205%;
  color: #fff;
  font-size: 35px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}

.delighting .container .photos .img .text p {
  width: 200%;
  color: #ACCEFE;
  margin: 30px 0;
  font-family: 'Poppins', sans-serif;
}

.delighting .container .photos .img .photo1 {
  position: relative;
  width: 60%;
}

.delighting .container .photos .img .photo1 img {
  width: 601px;
  height: 481px;
  -webkit-transform: translateX(40%);
          transform: translateX(40%);
}

.delighting .container .photos .img .photo1 .plus {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Poppins', sans-serif;
  top: -8px;
  right: -41.5%;
  z-index: 77;
}

.delighting .container .photos .img .photo1 .plus span {
  font-size: 18px;
  font-weight: 500;
}

.delighting .container .photos .img .photo1 .text {
  position: absolute;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  bottom: -1%;
  right: -24%;
}

.delighting .container .photos .img .photo1 .text p {
  position: absolute;
  width: 150%;
  color: #000;
  font-size: 15px;
  font-weight: 600;
}

.delighting .container .sercul {
  position: relative;
  margin: 0;
  left: -8%;
}

.delighting .container .sercul .sercul1 {
  position: absolute;
  border: 1px solid #e6d5cb;
  width: 480px;
  height: 480px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  z-index: -33;
}

.delighting .container .sercul .sercul1 .sercul2 {
  position: absolute;
  border: 1px solid #e6d5cb;
  height: 230px;
  width: 230px;
  border-radius: 50%;
  z-index: -33;
}

.expertises {
  background-color: #F0F2F1;
  padding-bottom: 100px;
}

.expertises .container .expertises__title {
  text-align: center;
}

.expertises .container .expertises__title h1 {
  font-size: 30px;
  font-weight: 600;
  color: #000;
  padding: 100px 0 20px 0;
}

.expertises .container .expertises__title p {
  margin: 0 auto;
  width: 40%;
  margin-bottom: 40px;
}

.expertises .container .boxs {
  width: 80%;
  text-align: center;
  margin: 0 auto;
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px solid #000;
          box-shadow: 0 0 10px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0 0 10px rgba(102, 99, 99, 0.7);
          box-shadow: 0 0 10px rgba(102, 99, 99, 0.7);
}

.expertises .container .boxs .box {
  width: 32%;
  padding: 40px 30px;
}

.expertises .container .boxs .box img {
  margin: 30px 0;
}

.expertises .container .boxs .box h2 {
  font-size: 20px;
  font-weight: 600;
}

.expertises .container .boxs .box p {
  font-size: 16px;
  line-height: 1.2;
  margin: 10px 10px 50px 10px;
  text-align: center;
}

.expertises .container .boxs .box button {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  font-size: 12px;
  margin-top: 50px;
}

.expertises .container .boxs .box button:hover {
  background-color: #000;
  color: #E8E8E9;
}

.expertises .container .boxs .box:hover {
  border-right: 1px solid #666363;
}

.content {
  margin: 0 auto;
  background-image: url("../img/young-male-florist-working-in-flower-shop-Z5BEPDY.jpg");
  width: 1700px;
  height: 950px;
  background-size: cover;
  text-align: center;
}

.content .container .photo {
  padding-top: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0.7;
}

.content .container .photo .sercul {
  border: 1px solid #e6d5cb;
  width: 724px;
  height: 724px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  z-index: 33;
}

.content .container .photo .sercul .sercul1 {
  border: 1px solid #e6d5cb;
  width: 624px;
  height: 624px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  z-index: 33;
}

.content .container .photo .sercul .sercul1 .sercul2 {
  border: 1px solid #e6d5cb;
  height: 500px;
  width: 500px;
  border-radius: 50%;
  z-index: 33;
  text-align: center;
}

.content .container .text {
  position: absolute;
  text-align: center;
  width: 800px;
  z-index: 55;
}

.content .container .text h1 {
  text-align: center;
  color: #fff;
  font-size: 54px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
}

.content .container .text p {
  margin: 0 auto;
  text-align: center;
  margin: 40px 0;
  color: #BDBFC2;
  font-size: 15px;
  margin: 50px;
}

.content .container .text button {
  margin: 0 auto;
  text-align: center;
  background-color: #1267FE;
}

.footer {
  margin: 0 auto;
}

.footer .container .footer__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
}

.footer .container .footer__head .list {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .container .footer__head .list li a {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
}

.footer .container .footer__head .list li a:hover {
  color: #1267FE;
}

.footer .container .footer__head .tarmoq {
  width: 12%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .container .footer__head .tarmoq li a {
  color: #000;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
}

.footer .container .footer__head .tarmoq li a:hover {
  color: #1267FE;
}

.footer .footer__bottom {
  background-color: #0F1120;
}

.footer .footer__bottom .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer__bottom .container .logo {
  margin: 30px 0;
}

.footer .footer__bottom .container .logo h2 {
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
}

.footer .footer__bottom .container p {
  font-family: 'Poppins', sans-serif;
  color: #6F6F77;
  font-size: 12px;
}

@media (max-width: 1900px) {
  .container {
    width: 1800px;
  }
  .delighting .container .sercul {
    position: relative;
    margin: 0;
    left: -16%;
  }
  .delighting .container .photos .img .photo1 .plus {
    top: -8px;
    right: -49.5%;
    z-index: 77;
  }
}

@media (max-width: 1800px) {
  .container {
    width: 1700px;
  }
  .hovDoYouDesign .container .hovDoYouDesign__photo img {
    -webkit-transform: translateX(14.5%);
            transform: translateX(14.5%);
  }
  .hovDoYouDesign .container .hovDoYouDesign__photo .box {
    left: 130px;
  }
  .delighting .container .photos .img {
    width: 950px;
    height: 945px;
    -webkit-transform: translateX(12%);
            transform: translateX(12%);
  }
  .delighting .container .photos .img .photo1 .text p {
    position: absolute;
    width: 90%;
    color: #000;
    font-size: 15px;
    font-weight: 600;
  }
}

@media (max-width: 1700px) {
  .container {
    width: 1600px;
  }
  .hovDoYouDesign .container .hovDoYouDesign__photo img {
    -webkit-transform: translateX(10%);
            transform: translateX(10%);
  }
  .hovDoYouDesign .container .hovDoYouDesign__photo .box {
    left: 92px;
  }
  .delighting .container .photos {
    width: 91%;
  }
  .delighting .container .photos .img .photo1 .plus {
    top: -8px;
    right: -49.5%;
  }
  .delighting .container .sercul {
    position: relative;
    margin: 0;
    left: -22%;
  }
  .content {
    margin: 0 auto;
    width: 1700px;
    text-align: center;
  }
}

@media (max-width: 1600px) {
  .container {
    width: 1500px;
  }
  .hovDoYouDesign .container .hovDoYouDesign__photo img {
    -webkit-transform: translateX(6%);
            transform: translateX(6%);
  }
  .hovDoYouDesign .container .hovDoYouDesign__photo .box {
    left: 56px;
  }
  .delighting .container .photos .img {
    -webkit-transform: translateX(2%);
            transform: translateX(2%);
  }
  .delighting .container .photos {
    width: 91%;
  }
  .delighting .container .photos .img .photo1 .plus {
    top: -8px;
    right: -49.5%;
  }
  .delighting .container .sercul {
    position: relative;
    margin: 0;
    left: -22%;
  }
  .content {
    width: 1600px;
  }
}

@media (max-width: 1500px) {
  .container {
    width: 1400px;
  }
  .hovDoYouDesign .container .hovDoYouDesign__photo img {
    -webkit-transform: translateX(3%);
            transform: translateX(3%);
  }
  .hovDoYouDesign .container .hovDoYouDesign__photo .box {
    left: 23px;
  }
  .delighting .container .photos .img {
    -webkit-transform: translateX(-8%);
            transform: translateX(-8%);
  }
  .delighting .container .sercul {
    position: relative;
    margin: 0;
    left: -29%;
  }
  .delighting .container .photos .img .photo1 img {
    -webkit-transform: translateX(34%);
            transform: translateX(34%);
  }
  .delighting .container .photos .img .photo1 .plus {
    top: -8px;
    right: -43.5%;
  }
  .content {
    width: 1500px;
  }
}

@media (max-width: 1400px) {
  .container {
    width: 1300px;
  }
  .content {
    width: 1380px;
  }
  .hovDoYouDesign .container .hovDoYouDesign__photo img {
    -webkit-transform: translateX(-0.5%);
            transform: translateX(-0.5%);
  }
  .hovDoYouDesign .container .hovDoYouDesign__photo .box {
    left: -7px;
  }
  .delighting .container .photos .img {
    -webkit-transform: translateX(-17%);
            transform: translateX(-17%);
  }
  .content {
    width: 1400px;
  }
}

@media (max-width: 1350px) {
  .container {
    width: 1250px;
  }
  .content {
    width: 1350px;
  }
  .hovDoYouDesign .container .hovDoYouDesign__photo img {
    -webkit-transform: translateX(-5.5%);
            transform: translateX(-5.5%);
  }
  .hovDoYouDesign .container .hovDoYouDesign__photo .box {
    left: -28px;
  }
  .delighting .container .photos .img {
    width: 886px;
    height: 887px;
  }
  .delighting .container .photos .img .photo1 img {
    width: 586px;
    height: 427px;
  }
  .delighting .container .photos .img .photo1 .plus {
    top: -8px;
    right: -49.5%;
  }
}

.content {
  width: 1350px;
}

@media (max-width: 1250px) {
  .container {
    width: 1150px;
  }
  .hovDoYouDesign .container .hovDoYouDesign__photo img {
    -webkit-transform: translateX(-12.5%);
            transform: translateX(-12.5%);
  }
  .hovDoYouDesign .container .hovDoYouDesign__photo .box {
    left: -60px;
  }
  .delighting .container .photos .img {
    -webkit-transform: translateX(-28%);
            transform: translateX(-28%);
  }
  .delighting .container .sercul {
    left: -34%;
  }
  .content {
    width: 1250px;
  }
  .footer .container .footer__head .list {
    width: 70%;
  }
}

@media (max-width: 1150px) {
  .container {
    width: 1050px;
  }
  .hovDoYouDesign .container .hovDoYouDesign__photo img {
    -webkit-transform: translateX(-21.5%);
            transform: translateX(-21.5%);
  }
  .hovDoYouDesign .container .hovDoYouDesign__photo .box {
    left: -101px;
  }
  .hovDoYouDesign .container .hovDoYouDesign__text p {
    width: 86%;
  }
  .delighting .container .photos .img {
    width: 753px;
    height: 754px;
  }
  .delighting .container .photos .img .photo1 img {
    width: 503px;
    height: 322px;
  }
  .delighting .container .sercul {
    left: -38%;
    top: -24px;
  }
  .delighting .container .photos .img .photo1 .text p {
    font-size: 13px;
  }
  .content {
    width: 1150px;
  }
  .footer .container .footer__head .list {
    width: 60%;
  }
}

@media (max-width: 1050px) {
  .container {
    width: 950px;
  }
  .delighting .container .photos .img .text h2 {
    width: 105%;
  }
  .delighting .container .photos .img .text p {
    width: 105%;
  }
  .hovDoYouDesign .container .hovDoYouDesign__photo .box {
    display: none;
  }
  .expertises .container .boxs .box img {
    margin: 30px 0;
    width: 100%;
  }
  .hovDoYouDesign .container .hovDoYouDesign__photo {
    margin: 0;
  }
  .hovDoYouDesign .container .hovDoYouDesign__photo .sercul {
    width: 900px;
    position: absolute;
    z-index: -22;
    right: 2px;
    top: -173px;
  }
  .hovDoYouDesign .container .hovDoYouDesign__photo .sercul .line .sercul1 {
    width: 820px;
    height: 820px;
  }
  .hovDoYouDesign .container .hovDoYouDesign__text p {
    width: 78%;
  }
  .hovDoYouDesign .container .hovDoYouDesign__photo img {
    margin-top: -240px;
  }
  .hovDoYouDesign .container .hovDoYouDesign__photo .pler {
    top: 29%;
    left: 45%;
  }
  .delighting .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .delighting .container .sercul {
    display: none;
  }
  .delighting .container .photos .img .photo1 {
    width: 45% !important;
  }
  .delighting .container .photos .img .photo1 .plus {
    display: none;
  }
  .delighting .container .photos .img .photo1 .plus img {
    width: 100% !important;
  }
  .delighting .container .photos .img .photo1 .text {
    display: none;
  }
  .delighting .container .photos .img .photo1 img {
    -webkit-transform: none;
            transform: none;
    width: 100%;
  }
  .delighting .container .photos {
    width: 100%;
  }
  .delighting .container .photos .img {
    width: 100%;
    -webkit-transform: none;
            transform: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .delighting .container .photos .img .text {
    width: 45%;
    margin-left: 0;
  }
  .delighting .container .photos .img .photo1 {
    position: relative;
    width: 100%;
  }
  .content {
    width: 1050px;
  }
  .footer .container .footer__head .list {
    width: 60%;
  }
}

@media (max-width: 950px) {
  .container {
    width: 850px;
  }
  .hovDoYouDesign .container .hovDoYouDesign__photo .sercul {
    display: none;
  }
  .hovDoYouDesign .container .hovDoYouDesign__photo {
    display: none;
  }
  .hovDoYouDesign .container .hovDoYouDesign__text {
    width: 83%;
  }
  .content {
    width: 950px;
  }
}

@media (max-width: 850px) {
  .navbar .container {
    width: 750px;
  }
  .navbar .container .navbar__header .list {
    width: 100%;
  }
  .navbar .container .navbar__header .link {
    display: none;
  }
  .content {
    width: 850px;
  }
}

@media (max-width: 750px) {
  .container {
    width: 650px;
  }
  .expertises .container .boxs {
    display: block;
  }
  .expertises .container .boxs .box {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
  .expertises .container .boxs .box img {
    width: 90%;
  }
  .delighting .container .photos .img {
    display: block;
    -webkit-box-pack: column;
        -ms-flex-pack: column;
            justify-content: column;
  }
  .delighting .container .photos .img .text {
    margin: 0 auto;
    width: 90%;
    display: block;
    -webkit-box-pack: column;
        -ms-flex-pack: column;
            justify-content: column;
    text-align: center;
    padding-top: 30px;
  }
  .delighting .container .photos .img .photo1 .plus img {
    display: block;
    -webkit-box-pack: column;
        -ms-flex-pack: column;
            justify-content: column;
    width: 90%;
  }
  .delighting .container .photos .img .photo1 {
    text-align: center;
    width: 100% !important;
    margin-top: 10px;
  }
  .content {
    width: 750px;
  }
  .footer .container .footer__head .tarmoq {
    width: 12%;
    display: block;
    -webkit-box-pack: column;
        -ms-flex-pack: column;
            justify-content: column;
    margin-right: 5px;
  }
}

@media (max-width: 650px) {
  .container {
    width: 550px;
  }
  .delighting .container .photos .img .text {
    width: 90%;
    text-align: center;
  }
}

@media (max-width: 650px) {
  .container {
    width: 550px;
  }
  .list {
    display: none;
  }
  .content {
    width: 650px;
  }
}
/*# sourceMappingURL=main.css.map */